services:
  webapp:
    container_name: webapp
    image: minha-app:latest
    restart: always
    environment:
      - APP_PASSWORD=${APP_PASSWORD} # Vem do arquivo .env ou injeção
    # Não expomos a porta 5000 para fora, apenas para a rede interna do Docker!
    
  nginx:
    container_name: proxy-reverso
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"   # Porta HTTP
      - "443:443" # Porta HTTPS
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs # Onde os certs estarão
    depends_on:
      - webapp
